<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Иван Иванов. Лабораторная работа 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {% if lab_num %}Лабораторная работа 2{% endif %}
    </header>

    <main>
        5 + 2 = {{ 5 + 2 }}<br>
        11×28 = {{ 11*28 }}<br>
        8452/793 = {{ 8452/793 }}<br>
        45<sup>8</sup> = {{ 45 ** 8 }}<br>
        <ul>
            {% for f in fruits %}
            <li>{{ f.name }}: {{ f.price }} &#x20bd;</li>
            {% endfor %}
        </ul>
    </main>
    
    <footer>
        &copy;
        {% if name %}
            {{ name }},
        {% else %}
            Анонимус,
        {% endif %}
        {{ group }},
        {{ course }},
        2023
    </footer>
</body>
</html>