{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}

    {% if user %}

    <h1>Привет, {{ user }}!</h1>
    <h2>Добро пожаловать на наш сайт!</h2>
    
    <div>ваш возраст: {{ age }}</div>
    <div>ваш пол: {{ 'мужской' if sex == 'male' else 'женский'}}</div>
    <div>
        <a href="/lab3/form1">Заново</a>
    </div>

    {% else %}

    <h1>Пользователь</h1>

    <form>
        <label>Ваше имя:</label>
        <div>
            <input type="text" placeholder="как вас зовут?" name="user" value="{{ user or '' }}">
            <span class="error">{{ errors.user }}</span>
        </div>

        <label>Ваш возраст:</label>
        <div>
            <input type="number" name="age" value="{{ age or '' }}">
        </div>

        <label>Ваш пол:</label>
        <div>
            <select name="sex">
                <option value="male" {{ sex == 'male' and 'selected' }}>мужчина</option>
                <option value="female" {{ sex == 'female' and 'selected' }}>женщина</option>
            </select>
        </div>

        <div>
            <button type="submit">Отправить</button>
        </div>
    </form>

    {% endif %}
{% endblock %}
