<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Базы данных</title>
   <style>
       /* Добавьте стили по вашему усмотрению */
       body {
           font-family: Arial, sans-serif;
           margin: 0;
           padding: 0;
       }
       nav {
           display: flex;
           justify-content: space-between;
           background-color: #770909;
           padding: 10px;
       }

       nav a {
           color: #fff;
           text-decoration: none;
           padding: 10px;
       }
   </style>
</head>
<body>
   <nav>
       <a href="/lab5/myarticle" >Посмотреть записи</a>
       <a href="/lab5/new_article" >Создать заметку</a>
       <a href="/lab5/login" >Логин</a>
       <a href="/lab5/register" >Регистрация</a>
       <span>{{username}}</span>
       <a href="/lab5/logout" >Выход</a>
   </nav>
</body>
</html>