{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h1>Вход</h1>
    <h2>Пожалуйста, авторизуйтесь</h2>
    <div>{{ error }}</div>
    <form method="post">
        <div>
            <label for="username">Пользователь:</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <button type="submit">Войти</button>
            <button type="reset">Отмена</button>
        </div>
    </form>
{% endblock %}
