{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Заказ напитка</h1>

    <form action="/lab3/pay">
        <div>Напиток:</div>
        <label>
            <input type="radio" value="cofee" name="drink" checked>кофе
        </label>
        <label>
            <input type="radio" value="black-tea" name="drink">чёрный чай
        </label>
        <label>
            <input type="radio" value="green-tea" name="drink">зелёный чай
        </label>

        <div>Добавки:</div>
        <label>
            <input type="checkbox" name="milk">молоко
        </label>
        <label>
            <input type="checkbox" name="sugar">сахар
        </label>

        <div>
            <button type="submit">Заказать</button>
        </div>
    </form>
{% endblock %}
